amqp==5.2.0
asgiref==3.7.2
billiard==4.2.0
celery==5.3.6
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.3
kombu==5.3.5
packaging==23.2
prompt-toolkit==3.0.43
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
redis==5.0.6
gunicorn==21.2.0

# Added packages for testing
Flask==2.3.3
requests==2.31.0
numpy==1.25.2
pandas==2.0.3
scipy==1.11.2
matplotlib==3.7.2
seaborn==0.12.2
scikit-learn==1.3.0
tensorflow==2.13.0
torch==2.0.1
Keras==3.4.1
Pillow==10.0.0
beautifulsoup4==4.12.2
lxml==4.9.3
PyYAML==6.0.1
Jinja2==3.1.2
SQLAlchemy==2.0.18
alembic==1.12.0
freezegun==1.2.2
Faker==19.4.0
mypy==1.5.1
black==23.7.0
isort==5.12.0
flake8==6.1.0
pylint==3.0.0
twine==4.0.2
wheel==0.41.2
setuptools==68.0.0
notebook==7.0.3
jupyterlab==4.0.5
ipython==8.14.0
ipykernel==6.24.0
nbconvert==7.10.0
nbformat==5.10.2
jupyter==1.0.0
jupyter-client==8.3.0
jupyter-console==6.6.3
jupyter-core==5.4.0
ipywidgets==8.1.0
tornado==6.3.2
bokeh==3.2.2
plotly==5.15.0
dash==2.11.0
openpyxl==3.1.2
xlrd==2.0.1
tabulate==0.9.0
xlwt==1.3.0
reportlab==4.0.4
pytz==2024.1
arrow==1.2.3
dateparser==1.2.0
babel==2.12.1
djangorestframework==3.15.0
django-cors-headers==4.0.0
channels==4.0.0
psycopg2==2.9.8
mysqlclient==2.1.1
pymongo==4.7.0
dnspython==2.4.2
elasticsearch==8.10.0
h5py==3.9.0
joblib==1.3.1
nltk==3.6.6
spacy==3.6.1
gensim==4.3.2
sympy==1.12
pyodbc==4.0.35
pydantic==1.10.11
dataclasses-json==0.6.0
fastapi==0.103.1
uvicorn==0.23.0
starlette==0.32.0
daphne==4.0.0
celery-progress==0.1.1
flower==2.0.0
tqdm==4.65.0
progressbar2==4.3.0
rich==13.5.0
loguru==0.7.1
coloredlogs==15.0.0
structlog==23.3.0
sentry-sdk==1.28.0
httpx==0.25.0
aiohttp==3.8.6
requests-async==0.6.2
httpcore==0.17.2
websockets==11.0.2
scrapy==2.11.1
twisted==22.10.0
pydantic-core==2.6.0
xmltodict==0.11.0
openai==0.28.0
transformers==4.31.0
datasets==2.14.4
evaluate==0.4.0
sentence-transformers==2.2.2
dill==0.3.6
cloudpickle==1.0.0
smart-open==6.4.0
gensim==4.3.2
gspread==5.10.0
oauth2client==4.1.3
gtts==2.0.2
pdfminer.six==20221105
PyPDF2==3.0.1
reportlab==4.0.4
pylibdmtx==0.1.11
pyzbar==0.1.9
zxing==0.15.0
cryptography==41.0.3
pycryptodome==3.18.0
paramiko==3.2.0
bcrypt==4.0.1
azure-storage-blob==12.16.0
google-cloud-storage==2.11.0
boto3==1.28.1
botocore==1.31.1
azure-identity==1.13.0
google-auth==2.21.0
tenacity==8.3.0
deprecation==2.1.0
deepdiff==6.4.1
diff-match-patch==20230702
simpy==4.0.1
Pygments==2.15.1
markdown2==2.4.10
mistune==3.0.1
mkdocs==1.5.3
mkdocs-material==9.1.9
sphinx==7.2.4
sphinx-rtd-theme==1.3.0
shap==0.42.1
lime==0.2.0.1
explainerdashboard==0.4.2
sklearn_pandas==2.2.0
mlxtend==0.22.0
imbalanced-learn==0.10.1
dask==2023.7.2
dask-ml==2023.5.17
dask-glm==0.2.0
streamlit==1.26.0
voila==0.4.2
dash-bootstrap-components==1.5.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-daq==0.7.1
dash-cytoscape==0.3.0
dash-extensions==0.1.9
dash-mantine-components==0.9.1
dash-uploader==0.2.0
plotly-express==0.4.1
altair==4.2.2
vega==3.4.0
altair_saver==0.5.0
altair_viewer==0.3.0
vega_datasets==1.0.0
hvplot==0.8.2
holoviews==1.16.2
datashader==0.14.1
colorcet==3.0.0
panel==1.2.0
geopandas==0.14.0
geopy==2.3.0
shapely==2.0.2
fiona==1.9.3
pyproj==3.6.0
rasterio==1.4.2
rtree==1.0.0
mapclassify==2.6.2
folium==0.15.0
gmplot==1.4.1
basemap==1.3.2
basemap-data==1.3.2
xarray==2023.7.1
netCDF4==1.6.5
pydap==3.2.3
motuclient==1.8.4
xgboost==1.7.6
lightgbm==4.0.0
catboost==1.2.0
prophet==1.2.1
statsmodels==0.14.0
pyflux==0.4.1
